aside.section-sidebar{
    width: $aside-width;
    //height: 100vh - $navbar-height;
    background-color: #fff;
    border-right: 1px solid #ddd;
    position: fixed;
    top: $navbar-height;
    left: 0;
    @if $is-footer-enabled{
        @if $is-footer-extended{
            bottom: $footer-height;
        } @else {
            bottom: 0;
        }
    } @else {
        bottom: 0;
    }
    overflow-x: hidden;
    overflow-y: auto;
}

